<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZGHAi03JzFcg6XmziUhQ2k1rL9THudZk</string>
	<key>GCM_SENDER_ID</key>
	<string>836031189433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nikesneakerstore</string>
	<key>PROJECT_ID</key>
	<string>nikestore-eb431</string>
	<key>STORAGE_BUCKET</key>
	<string>nikestore-eb431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836031189433:ios:16b2429d9e2d7c1d6b6668</string>
</dict>
</plist>